<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список - Dumbgeons</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<h1 style="border:1px">Список локаций</h1>

<div id="addDumbgeonOfferDiv" style="padding:1em">
    <button class="actionButton" id="addDumbgeonOffer">Создать новую локацию</button>
</div>

<div id="addDumbgeonDiv" style="display:none;padding:1em">
    <span style="font-weight: bold">Начальные данные:</span>
    <span>Название:</span>
    <input type="text" id="newDumbgeonName" maxlength="30">&nbsp;
    <span>Ширина:</span>
    <input type="number" id="newDumbgeonWidth" style="width: 4em" min="1" max="100" value="10" onchange="sizeInputOnChange(this)">&nbsp;
    <span>Высота:</span>
    <input type="number" id="newDumbgeonHeight" style="width: 4em" min="1" max="100" value="10" onchange="sizeInputOnChange(this)">&nbsp;
    <button class="actionButton" id="addDumbgeonButton">Создать локацию</button><br>
</div>

<div id="dumbgeonsListDiv" style="width: 100%">
    Список загружается...
</div>
</body>
<script src="getDumbgeons.js"></script>
<script src="addDumbgeon.js"></script>
<script src="utils.js"></script>
<script src="list.js"></script>
</html>